$color-1:#28B9B5;
$color-2:#FF5049;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
ul{
    list-style: none;
}
#wrapper1{
    background-size: cover;
    height: 23rem;
    text-align: center;
    color:whitesmoke;
    #stanje{
        height: 20%;
        text-align: center;
        font-size: 50px;  
    }
        
    #prihodParagraf{
            height: 60px;
            background-color:$color-1;
            padding: 12px;
            text-transform: uppercase;
            width: 20%;
            margin: auto;
            right: 0;
            display: flex;
            border-radius: 5px;
    }
    #rashodParagraf{
            height: 60px;
            background-color:$color-2;
            padding: 12px;
            text-transform: uppercase;
            width: 20%;
            margin: 5px auto;
            right: 0;
            display: flex;
            border-radius: 5px;
    }
    #cifraPrihod, #cifraRashod{
            display:inline-block;
            text-align:right;
            letter-spacing: 1px;
            width: 45%;
            padding-right:auto;
    }
    #prihodTxt, #rashodTxt{
        width: 30%;
    }
    #space, #procenat{
        width: 50px;
        text-align: center;
        margin-left: auto;
    }
    #procenat{
        border-radius: 5px;
        border:1px solid grey;
        margin-bottom:5px;
        background-color:rgb(180, 86, 86);
    }
}
#div-forma{
    border-bottom: 1px solid #e7e7e7;
    background: #f7f7f7;
    margin-top:85px;
    text-align: center;
    select{
        width: 35px;
        height: 35px;
        
    }
    input{
        width: 20%;
        height: 35px;
        &#iznos{
            width: 100px;
        }
    }
    #potvrda{
        font-size: 35px;
        background: none;
        border: 0;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.1;
        margin-left: 10px;
        color: $color-1;
    }
    
}
.liste{
    
    display: flex;
    width:70%;
    margin-left:15%;
    
    #prihod{
        width: 50%;
        margin-left: 10px;
        #prihodiNaslov{
            color: $color-1;
        }
    }
    #rashod{
        width: 50%;
        margin-left: 10px;
        #rashodiNaslov{
            color: $color-2;
        }
    }
}

#prihodiLi, #rashodiLi{
    display: block;
    height: 50px;
    border-bottom: 1px grey solid;
    margin-top:15px;
    &:hover{
        .dugmeDlt {
            visibility: visible;
        }
    }
    .spanOpis{
        float: left;
        width: 55%;
        text-align: left;
    }
    .dugmeDlt{
        float: right;
        visibility: hidden;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        vertical-align: middle;
        line-height: 0.7;
        margin-left: 10px;
        color: $color-2;
    }
    .spanCifra{
        width: 15%;
        float: left;
        text-align: right;
    }
    #spanProcenat{
        display: inline-block;
        text-align: right;
        width: 15%;
        margin: auto;
    }
}
#wrapper2{
    margin-top:10px;
}
